# Python / Robot Framework
__pycache__/
*.py[cod]
.Python

env/
venv/
.venv/

# Robot Framework Results
results/
output.xml
log.html
report.html
pabot_results/
.robotframework/

# Salesforce CLI
.sf/
.sfdx/
deploy-options.json
*.auth.json

# Runtime Output (IMPORTANT)
output/*
!output/.gitkeep

# To keep folder structure only:
#!output/Run_*/
#!output/Run_*/.gitkeep

# Pabot internal
.pabotsuitenames

# Editors / IDE
.vscode/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# Misc
*.bak
*.swp
*.swo

# Prevent accidental root-level UUID folders
????????????????????????????????